# Project #
###################
node_modules
dist
upload
deploy.log
config/shopify.yml
npm-debug.log
.env
.env.*
composer.lock
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
//*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sass-cache*
/vendor/
.cache/*
_site
/.idea
/.vscode
secrets.json
.jekyll-metadata
.ruby-version